body{
margin:0;
font-family:Arial;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#221d8f
}

.logoImg{
width:60px;
}

.nav-list{
list-style:none;
display:flex;
gap:20px;
margin:0;
}

.nav-list li a{
text-decoration:none;
color:#dedfe7;
}

.nav-list li a:hover{
color:red;
}

#home{
text-align:center;
padding:80px;
background:#eee
}

h1{
color:#221d8f
}

p{
color:rgb(18, 16, 16);
}

.nav-toggle{
background:none;
border:none;
}

.hamburger{
width:25px;
height:3px;
background:rgb(210, 213, 215);
display:block;
}
